.button {
    background-color: $nickel;
    color: $white;
    border-radius: 30px;
    &--small {
        padding: 9px 16px;
    }
    &--medio {
        padding: 13px 19px;
    }
    &:hover {
        background-color: $light-gray;
    }
    &:focus {
        box-shadow: $platinum;
    }
}