.page-link {
    color: $nickel;
    font-weight: $medio;
    font-family: $roboto;
    border-radius: rounded-pill;
}

.bor-izq {
    border-top-left-radius: 10.25rem;
    border-bottom-left-radius: 11.25rem;
}

.bor-der {
    border-top-right-radius: 10.25rem;
    border-bottom-right-radius: 11.25rem;
}

.page-link {
    color: $eerie-black;
    &--small {
        padding: 9px 16px;
    }
    &--medio {
        padding: 13px 19px;
    }
    &:hover {
        background-color: $nickel;
        color: $white;
    }
    &:focus {
        border-color: $platinum;
    }
}