 h1 {
     font-family: $roboto;
     font-weight: $medio;
     font-size: $xx-large;
     color: $white;
 }
 
 p {
     font-family: $roboto;
 }
 
 a {
     font-family: $roboto;
     font-weight: $medio;
 }