// colores
//primer color
$white:#fff;
$platinum :#E6E7E7;
$light-gray:#D1D1D1;
//segundo color
$fuzzi-wuzzi:#E56353;
$ruddy-pink:#D76C69;
$spanish-pink:#ECBCBA;
//tercer color
$eerie-black:#121619;
$raisin-black:#222323;
$nickel:#6C6E70;
//variables tipograficas
$roboto: 'Roboto',
sans-serif;
//font weight
$liviano:300;
$medio:400;
//font size
$xx-large:70px;
$x-large:30px;
$large:18px;
$medium:16px;
$small:12px;