        .header {
            background-image: url("../img/post-image.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            height: 50vw;
            display: flex;
            align-items: center;
        }
        
        .div-header {
            /*   position: relative; */
            padding: 250px;
        }