.row-paginations {
    background-color: $platinum;
    height: 150px;
}

.acontacto {
    text-decoration: none;
    font-size: 2rem;
}

.pcontacto {
    font-size: 2rem;
    font-weight: $medio;
}

.acontacto {
    color: $fuzzi-wuzzi;
    &:hover {
        color: $eerie-black;
    }
    &:active {
        color: $light-gray;
    }
}

.img-contacto {
    &--small {
        padding: 9px 16px;
    }
    &--medio {
        padding: 13px 19px;
    }
}